html
  head
    link(href="/public/css/style.css", rel="stylesheet", type="text/css")
  body
  
    script(src="https://js.stripe.com/v3/")
    .formStyle
      form#payment-form(action='/charge', method='post')
        fieldset
          legend Informations de paiement
          .row
            .field
              label(for='lastname') Nom
              input#lastname.input(data-tid='lastname', name='lastname', type='text', placeholder='Bailleux', required='')
            .field
              label(for='firstname') Prénom
              input#firstname.input(data-tid='firstname', name='firstname', type='text', placeholder='Robin', required='')
          .row
            .field
              label(for='email') Email
              input#email.input(data-tid='email', type='text', name='email', placeholder='robin.bailleux@gmail.com', required='')
            .field
              label(for='phone') Téléphone
              input#phone.input(data-tid='phone', type='text', name='phone', placeholder='01 23 45 67 89', required='')
          .row
            .field
              label(for='address') Addresse
              input#address.input(data-tid='address', type='text', name='address', placeholder='16 rue Rivoli', required='')
            .field
              label(for='city') Ville
              input#city.input(data-tid='city', type='text', name='city', placeholder='Paris', required='')
          .row
            .field
              label(for='card', data-tid='card') Carte de paiement
              #card-element.input
          button(type='submit', data-tid='pay') Payer 5€
          #card-errors(role='alert')
    script(src="/public/js/script.js")